@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Radio Canada', sans-serif;
}
.card{
    transition: ease 0.4s;
}
.card:hover {
    box-shadow: 2px 2px 10px #d7dde1;
    transition: ease 0.4s;
    transform: scale(1.1);
}
#container_team {
    text-align: center;
    margin-top: 100px;
}
section{
    background-color: #F6F6F6;
}

footer{
    background-color: #6F5490;
}


.header {
    padding-top: 30px;
    color: #444;
    font-size: 20px;
    margin: auto;
    line-height: 50px;
}

.sub-container {
    max-width: 1200px;
    margin: auto;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teams {
    margin: 10px;
    padding: 22px;
    max-width: 30%;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 12px;
    transition: ease 0.5s;
}

.teams:hover {
    transition: ease 0.5s;
    box-shadow: 2px 2px 10px #d7dde1;
    transform: scale(1.05);
}

.teams img {
    width: 200px;
    height: 200px;
}

.name {
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.desig {
    font-style: italic;
    color: #888;
}

.about {
    margin: 20px 0;
    font-weight: lighter;
    color: #4e4e4e;
}

.social-links {
    margin: 14px;
}

.social-links a {
    display: inline-block;
    height: 30px;
    width: 30px;
    transition: .4s;
}

.social-links a:hover {
    transform: scale(1.5);
}

.social-links a i {
    color: #444;
}

.__course{
    margin-top: 200px !important;
}

@media screen and (max-width: 600px) {
    .teams{
        max-width: 100%;
    }
}

@media screen and (max-width:768px) {
    img {
        width:80%;
    }
    .container {
        max-width:100%;
        width: 100%;
    }
    .col-lg-2{
        width:80%;
        float:left;
        margin:10px;
    }
}

.text-small {
    font-size: 0.9rem;
}

a {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}

p {
    color: white;
}

a:hover, a:focus {
    text-decoration: none;
}


