@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Radio Canada', sans-serif;
}

@media screen and (min-width: 1200px) {
    .promo_2_2 {
        display: none;
    }
    .mobile_lang{
        display: none;
    }
    .promo_1{
        min-height: 100vh;
        margin-bottom: 2vh;
    }
    .promo_2{
        min-height: 98vh;
        margin-bottom: 2vh;
    }
    .promo_3{
        min-height: 98vh;
        margin-bottom: 2vh;
    }
    nav {
        margin-bottom: 2vh;
    }
    .header {
        min-height: 6vh;
        margin-bottom: 2vh;
    }
}
@media screen and (max-width: 1200px) {
    .promo_2 {
        display: none;
    }
    .main {
        margin-top: 100px;
    }
    .languages {
        margin-bottom: 10px;
    }
    .desktop_lang{
        display: none;
    }
}

.block{
    padding: 20px;
    text-align: center;
    height: 100%;
}

a {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}
p {
    color: #d5dadb;
}
.form-group {
    padding: 10px 0 10px 0;
}





/*Login style*/
.login_main{
    background-image: url('../images/bg_login.jpg');
    position: fixed;
    top: 0;
    left: 0;

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_form_body{
    border-radius: 5px;
    padding: 40px;
    background-color: #6F5490;
    z-index: 10;
    min-width: 480px;
}
.login_form_body > h2{
    text-align: center;
    color: #FFFFFF;
}
.login_form_elems{
    margin-top: 20px;
}
.login_form_elems > a{

}
.login_form_elem{
    margin-bottom: 20px;
}
.login_form_elem > label{
    color: #FFFFFF;
    margin-bottom: 5px;
}
.login_form_elem > input{
    width: 100%;
    padding: 20px;
    height: 40px;
    font-size: 16px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 3px;
    color: #C8C9CA;
    background-color: #311257;
    border: 0;
    outline: 0;
}
.login_form_elem > button{
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    height: 44px;
    min-width: 130px;
    min-height: 44px;
}
.login_form_elem > small{
    color: #FFFFFF;
}
.login_form_elem a{
    color: gold;
}
.login_form_elem a:hover{
    color: darkgoldenrod;
}
.login_form_elem > p{
    color: #FFFFFF;
}



/*Footer style*/
footer{
    background-color: #6F5490;
}
footer > a {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}
footer > p {
    color: #d5dadb;
}

.card{
    transition: ease 0.4s;
}
.card:hover {
    box-shadow: 2px 2px 10px #d7dde1;
    transition: ease 0.4s;
    transform: scale(1.1);
}


